In [1]:
import sys

sys.path.append("..")

In [2]:
%matplotlib inline

In [3]:
import numpy as np
import pandas as pd

from src.const import EventData, GameData, GameBoxScoreData, GameSummaryData, TeamData
from src.data import load
from src.utils import calc_posession

- ベンチスコア平均（チーム）
- 4Qスコア平均（チーム）
    - 点差5点差以内、4Q平均試投数・平均得点（チーム）
- 3P試投数・成功数・成功率（選手・チーム）
- FT試投数・成功数・成功率（選手・チーム）
- TO / posession（選手・チーム）
- Offence Efficiency（チーム）
- Deffence Efficiency（チーム）
    - 去年と今年の比較

In [4]:
df_game = load(GameData.games_202021)
display(df_game.head().T)

                      0           1           2           3           4
ScheduleKey        5938        5939        5890        5903        5891
Season          2020-21     2020-21     2020-21     2020-21     2020-21
EventId               2           2           2           2           2
Date         2020.10.24  2020.10.25  2020.10.09  2020.10.18  2020.10.10
Arena        おおきにアリーナ舞洲  おおきにアリーナ舞洲  広島サンプラザホール     横浜国際プール  広島サンプラザホール
Attendance         1675        1255        2061        1517        2221
HomeTeamId          700         700         721         694         721
AwayTeamId          706         706         706         706         706

In [5]:
df_game_box = load(GameBoxScoreData.games_boxscore_202021)
display(df_game_box.head().T)

                    0           1        2         3      4
ScheduleKey      5938        5938     5938      5938   5938
TeamId            700         700      700       700    700
BoxType         Total       Total    Total     Total  Total
PlayerId        10849       32984    32982     32983  30349
Player           伊藤達哉  エリエット・ドンリー     角野亮伍  駒水大雅ジャック   中村浩陸
Number              2           3        8        10     13
Position           PG          SF       SF        SF     PG
StarterBench  Starter       Bench  Starter     Bench  Bench
MIN              21.9        1.93    31.65       1.4      0
MIN.STR         21:54       01:56    31:39     01:24  00:00
PTS                10           0        2         0      0
FGM                 5           0        1         0      0
FGA                 9           0        6         0      0
F3GM                0           0        0         0      0
F3GA                0           0        4         0      0
FTM                 0           0        0         0      0
FTA                 0           0        0         0      0
OR                  0           0        0         0      0
DR                  0           0        2         0      0
TR                  0           0        2         0      0
AS                  8           0        0         0      0
TO                  1           0        2         1      0
ST                  2           0        1         0      0
BS                  0           0        0         0      0
BSR                 0           0        0         0      0
F                   0           0        2         0      0
FD                  1           0        0         0      0
DUNK                0           0        0         0      0
EFF                16           0       -4        -1      0

In [6]:
df_game_summary = load(GameSummaryData.games_summary_202021)
display(df_game_summary.head().T)

,0,1,2,3,4
ScheduleKey,5938,5938,5939,5939,5890
TeamId,700,706,700,706,721
PTS,69,97,77,85,71
Q1,21,23,15,29,21
Q2,8,27,23,14,16
Q3,21,31,16,17,18
Q4,19,16,23,25,16
OT1,0,0,0,0,0
OT2,0,0,0,0,0
OT3,0,0,0,0,0
OT4,0,0,0,0,0
F2GM,22,36,27,28,24
F2GA,41,51,46,41,41
F3GM,5,5,5,8,4
F3GA,19,11,18,22,14
FTM,10,10,8,5,11
FTA,16,12,10,5,16
OR,9,1,11,4,7
DR,19,27,23,21,26
TR,28,28,34,25,33
AS,16,26,17,23,21
TO,18,11,13,9,18
ST,8,12,5,8,6
BS,1,4,3,1,0
F,16,18,17,17,18
PtsBiggestLead,3,36,2,18,9
PtsInPaint,32,64,46,44,32
PtsFastBreak,6,24,8,6,12
PtsSecondChance,6,2,13,5,10
PtsFromTurnover,21,26,11,14,12
BiggestScoringRun,9-0(56-81),15-0(29-63),6-0(15-27),10-0(6-20),10-0(47-39)
LeadChanges,6,6,2,2,2
TimesTied,3,3,2,2,2

In [7]:
df_team = load(TeamData.teams)
df_team = df_team[(df_team["Season"]=="2020-21") & (df_team["League"]=="B1")]
display(df_team.head().T)

               144          145       146      147      148
TeamId         702          693       703      704      706
Season     2020-21      2020-21   2020-21  2020-21  2020-21
League          B1           B1        B1       B1       B1
NameShort      北海道           秋田       宇都宮       千葉      A東京
NameLong   レバンガ北海道  秋田ノーザンハピネッツ  宇都宮ブレックス   千葉ジェッツ  アルバルク東京
Division       東地区          東地区       東地区      東地区      東地区

## ベンチスコア

In [8]:
df_bench = df_game_box[df_game_box["StarterBench"]=="Bench"].groupby("TeamId").agg({"MIN": ["sum"], "PTS": ["sum"], "EFF": ["mean"]})
df_bench.columns = [f"{c[0]}_{c[1]}" for c in df_bench.columns]
df_bench = df_bench.merge(df_team.loc[:, ["TeamId", "NameShort", "Division"]], how="inner", on="TeamId")

In [9]:
df_bench.sort_values("PTS_sum", ascending=False)

    TeamId  MIN_sum  PTS_sum  EFF_mean NameShort Division
10     703  1322.98      509  5.200000       宇都宮      東地区
12     706  1209.11      461  4.653846       A東京      東地区
14     720  1213.92      438  4.371429        島根      西地区
16     726  1372.83      430  3.933333      SR渋谷      東地区
17     727  1234.71      428  4.526316        川崎      東地区
9      702  1143.67      406  3.244898       北海道      東地区
18     728  1101.19      400  4.647059        三河      西地区
15     721  1124.57      400  3.923810        広島      西地区
7      700   851.27      393  4.915663        大阪      西地区
11     704   975.35      378  4.811111        千葉      東地区
8      701  1124.53      366  2.271845        琉球      西地区
0      693  1008.11      358  3.415730        秋田      東地区
19     729  1016.59      340  3.142857      名古屋D      西地区
6      699   968.03      315  3.298969        京都      西地区
1      694  1005.42      306  2.436170        横浜      東地区
5      698  1008.97      300  2.535714        滋賀      西地区
2      695   881.52      290  3.318182        新潟      東地区
4      697   947.49      281  2.188235        三遠      西地区
3      696   812.02      280  2.845238        富山      東地区
13     716   856.11      197  1.428571        信州      西地区

In [10]:
df_bench.sort_values("EFF_mean", ascending=False)

    TeamId  MIN_sum  PTS_sum  EFF_mean NameShort Division
10     703  1322.98      509  5.200000       宇都宮      東地区
7      700   851.27      393  4.915663        大阪      西地区
11     704   975.35      378  4.811111        千葉      東地区
12     706  1209.11      461  4.653846       A東京      東地区
18     728  1101.19      400  4.647059        三河      西地区
17     727  1234.71      428  4.526316        川崎      東地区
14     720  1213.92      438  4.371429        島根      西地区
16     726  1372.83      430  3.933333      SR渋谷      東地区
15     721  1124.57      400  3.923810        広島      西地区
0      693  1008.11      358  3.415730        秋田      東地区
2      695   881.52      290  3.318182        新潟      東地区
6      699   968.03      315  3.298969        京都      西地区
9      702  1143.67      406  3.244898       北海道      東地区
19     729  1016.59      340  3.142857      名古屋D      西地区
3      696   812.02      280  2.845238        富山      東地区
5      698  1008.97      300  2.535714        滋賀      西地区
1      694  1005.42      306  2.436170        横浜      東地区
8      701  1124.53      366  2.271845        琉球      西地区
4      697   947.49      281  2.188235        三遠      西地区
13     716   856.11      197  1.428571        信州      西地区

## 4Qスコア平均

In [11]:
df_q = df_game_summary.groupby("TeamId").agg({"Q1": ["mean"], "Q4": ["mean"], "PTS": ["mean"]})
df_q.columns = [f"{c[0]}_{c[1]}" for c in df_q.columns]
df_q["Q1_PTS_rate"] = df_q["Q1_mean"] / df_q["PTS_mean"]
df_q["Q4_PTS_rate"] = df_q["Q4_mean"] / df_q["PTS_mean"]
df_q = df_q.merge(df_team.loc[:, ["TeamId", "NameShort", "Division"]], how="inner", on="TeamId")

In [12]:
df_q.sort_values("Q4_mean", ascending=False)

,TeamId,Q1_mean,Q4_mean,PTS_mean,Q1_PTS_rate,Q4_PTS_rate,NameShort,Division
5,698,18.066667,23.666667,77.466667,0.233219,0.305508,滋賀,西地区
17,727,20.533333,22.800000,81.600000,0.251634,0.279412,川崎,東地区
18,728,22.400000,22.666667,83.266667,0.269015,0.272218,三河,西地区
3,696,23.133333,22.400000,89.133333,0.259536,0.251309,富山,東地区
16,726,20.533333,22.333333,82.000000,0.250407,0.272358,SR渋谷,東地区
11,704,20.733333,22.266667,90.133333,0.230030,0.247041,千葉,東地区
10,703,21.000000,22.000000,82.533333,0.254443,0.266559,宇都宮,東地区
2,695,17.266667,21.800000,75.200000,0.229610,0.289894,新潟,東地区
9,702,20.000000,21.200000,80.666667,0.247934,0.262810,北海道,東地区
8,701,18.200000,20.933333,78.866667,0.230769,0.265427,琉球,西地区
19,729,17.200000,20.533333,78.333333,0.219574,0.262128,名古屋D,西地区
12,706,18.266667,20.466667,80.600000,0.226634,0.253929,A東京,東地区
7,700,18.533333,20.400000,79.666667,0.232636,0.256067,大阪,西地区
14,720,18.800000,20.333333,78.533333,0.239389,0.258913,島根,西地区
6,699,17.533333,19.866667,78.066667,0.224594,0.254483,京都,西地区
4,697,15.466667,19.133333,71.533333,0.216216,0.267474,三遠,西地区
15,721,19.333333,19.000000,78.266667,0.247019,0.242760,広島,西地区
0,693,16.866667,18.866667,73.933333,0.228133,0.255185,秋田,東地区
1,694,16.200000,18.133333,70.666667,0.229245,0.256604,横浜,東地区
13,716,17.533333,17.200000,69.133333,0.253616,0.248795,信州,西地区

In [13]:
df_q.sort_values("Q4_PTS_rate", ascending=False)

,TeamId,Q1_mean,Q4_mean,PTS_mean,Q1_PTS_rate,Q4_PTS_rate,NameShort,Division
5,698,18.066667,23.666667,77.466667,0.233219,0.305508,滋賀,西地区
2,695,17.266667,21.800000,75.200000,0.229610,0.289894,新潟,東地区
17,727,20.533333,22.800000,81.600000,0.251634,0.279412,川崎,東地区
16,726,20.533333,22.333333,82.000000,0.250407,0.272358,SR渋谷,東地区
18,728,22.400000,22.666667,83.266667,0.269015,0.272218,三河,西地区
4,697,15.466667,19.133333,71.533333,0.216216,0.267474,三遠,西地区
10,703,21.000000,22.000000,82.533333,0.254443,0.266559,宇都宮,東地区
8,701,18.200000,20.933333,78.866667,0.230769,0.265427,琉球,西地区
9,702,20.000000,21.200000,80.666667,0.247934,0.262810,北海道,東地区
19,729,17.200000,20.533333,78.333333,0.219574,0.262128,名古屋D,西地区
14,720,18.800000,20.333333,78.533333,0.239389,0.258913,島根,西地区
1,694,16.200000,18.133333,70.666667,0.229245,0.256604,横浜,東地区
7,700,18.533333,20.400000,79.666667,0.232636,0.256067,大阪,西地区
0,693,16.866667,18.866667,73.933333,0.228133,0.255185,秋田,東地区
6,699,17.533333,19.866667,78.066667,0.224594,0.254483,京都,西地区
12,706,18.266667,20.466667,80.600000,0.226634,0.253929,A東京,東地区
3,696,23.133333,22.400000,89.133333,0.259536,0.251309,富山,東地区
13,716,17.533333,17.200000,69.133333,0.253616,0.248795,信州,西地区
11,704,20.733333,22.266667,90.133333,0.230030,0.247041,千葉,東地区
15,721,19.333333,19.000000,78.266667,0.247019,0.242760,広島,西地区

In [14]:
df_q.sort_values("Q1_mean", ascending=False)

,TeamId,Q1_mean,Q4_mean,PTS_mean,Q1_PTS_rate,Q4_PTS_rate,NameShort,Division
3,696,23.133333,22.400000,89.133333,0.259536,0.251309,富山,東地区
18,728,22.400000,22.666667,83.266667,0.269015,0.272218,三河,西地区
10,703,21.000000,22.000000,82.533333,0.254443,0.266559,宇都宮,東地区
11,704,20.733333,22.266667,90.133333,0.230030,0.247041,千葉,東地区
16,726,20.533333,22.333333,82.000000,0.250407,0.272358,SR渋谷,東地区
17,727,20.533333,22.800000,81.600000,0.251634,0.279412,川崎,東地区
9,702,20.000000,21.200000,80.666667,0.247934,0.262810,北海道,東地区
15,721,19.333333,19.000000,78.266667,0.247019,0.242760,広島,西地区
14,720,18.800000,20.333333,78.533333,0.239389,0.258913,島根,西地区
7,700,18.533333,20.400000,79.666667,0.232636,0.256067,大阪,西地区
12,706,18.266667,20.466667,80.600000,0.226634,0.253929,A東京,東地区
8,701,18.200000,20.933333,78.866667,0.230769,0.265427,琉球,西地区
5,698,18.066667,23.666667,77.466667,0.233219,0.305508,滋賀,西地区
6,699,17.533333,19.866667,78.066667,0.224594,0.254483,京都,西地区
13,716,17.533333,17.200000,69.133333,0.253616,0.248795,信州,西地区
2,695,17.266667,21.800000,75.200000,0.229610,0.289894,新潟,東地区
19,729,17.200000,20.533333,78.333333,0.219574,0.262128,名古屋D,西地区
0,693,16.866667,18.866667,73.933333,0.228133,0.255185,秋田,東地区
1,694,16.200000,18.133333,70.666667,0.229245,0.256604,横浜,東地区
4,697,15.466667,19.133333,71.533333,0.216216,0.267474,三遠,西地区

In [15]:
df_q.sort_values("Q1_PTS_rate", ascending=False)

,TeamId,Q1_mean,Q4_mean,PTS_mean,Q1_PTS_rate,Q4_PTS_rate,NameShort,Division
18,728,22.400000,22.666667,83.266667,0.269015,0.272218,三河,西地区
3,696,23.133333,22.400000,89.133333,0.259536,0.251309,富山,東地区
10,703,21.000000,22.000000,82.533333,0.254443,0.266559,宇都宮,東地区
13,716,17.533333,17.200000,69.133333,0.253616,0.248795,信州,西地区
17,727,20.533333,22.800000,81.600000,0.251634,0.279412,川崎,東地区
16,726,20.533333,22.333333,82.000000,0.250407,0.272358,SR渋谷,東地区
9,702,20.000000,21.200000,80.666667,0.247934,0.262810,北海道,東地区
15,721,19.333333,19.000000,78.266667,0.247019,0.242760,広島,西地区
14,720,18.800000,20.333333,78.533333,0.239389,0.258913,島根,西地区
5,698,18.066667,23.666667,77.466667,0.233219,0.305508,滋賀,西地区
7,700,18.533333,20.400000,79.666667,0.232636,0.256067,大阪,西地区
8,701,18.200000,20.933333,78.866667,0.230769,0.265427,琉球,西地区
11,704,20.733333,22.266667,90.133333,0.230030,0.247041,千葉,東地区
2,695,17.266667,21.800000,75.200000,0.229610,0.289894,新潟,東地区
1,694,16.200000,18.133333,70.666667,0.229245,0.256604,横浜,東地区
0,693,16.866667,18.866667,73.933333,0.228133,0.255185,秋田,東地区
12,706,18.266667,20.466667,80.600000,0.226634,0.253929,A東京,東地区
6,699,17.533333,19.866667,78.066667,0.224594,0.254483,京都,西地区
19,729,17.200000,20.533333,78.333333,0.219574,0.262128,名古屋D,西地区
4,697,15.466667,19.133333,71.533333,0.216216,0.267474,三遠,西地区

## 3PT

In [16]:
df_3pt = df_game_summary.groupby("TeamId").agg({"F3GM": ["sum"], "F3GA": ["sum"]})
df_3pt.columns = [f"{c[0]}_{c[1]}" for c in df_3pt.columns]
df_3pt["F3GP"] = df_3pt["F3GM_sum"] / df_3pt["F3GA_sum"]
df_3pt = df_3pt.merge(df_team.loc[:, ["TeamId", "NameShort", "Division"]], how="inner", on="TeamId")

In [17]:
df_3pt.sort_values("F3GP", ascending=False)

    TeamId  F3GM_sum  F3GA_sum      F3GP NameShort Division
18     728       157       387  0.405685        三河      西地区
11     704       137       361  0.379501        千葉      東地区
19     729       132       351  0.376068      名古屋D      西地区
10     703       129       346  0.372832       宇都宮      東地区
9      702       138       375  0.368000       北海道      東地区
12     706       116       320  0.362500       A東京      東地区
1      694       112       318  0.352201        横浜      東地区
5      698       144       412  0.349515        滋賀      西地区
3      696       123       353  0.348442        富山      東地区
8      701       104       304  0.342105        琉球      西地区
7      700       101       303  0.333333        大阪      西地区
6      699        98       296  0.331081        京都      西地区
2      695       103       312  0.330128        新潟      東地区
15     721        99       308  0.321429        広島      西地区
13     716       139       437  0.318078        信州      西地区
16     726       116       367  0.316076      SR渋谷      東地区
17     727       123       401  0.306733        川崎      東地区
14     720        88       292  0.301370        島根      西地区
4      697        81       287  0.282230        三遠      西地区
0      693        90       352  0.255682        秋田      東地区

In [18]:
df_3pt.sort_values("F3GA_sum", ascending=False)

    TeamId  F3GM_sum  F3GA_sum      F3GP NameShort Division
13     716       139       437  0.318078        信州      西地区
5      698       144       412  0.349515        滋賀      西地区
17     727       123       401  0.306733        川崎      東地区
18     728       157       387  0.405685        三河      西地区
9      702       138       375  0.368000       北海道      東地区
16     726       116       367  0.316076      SR渋谷      東地区
11     704       137       361  0.379501        千葉      東地区
3      696       123       353  0.348442        富山      東地区
0      693        90       352  0.255682        秋田      東地区
19     729       132       351  0.376068      名古屋D      西地区
10     703       129       346  0.372832       宇都宮      東地区
12     706       116       320  0.362500       A東京      東地区
1      694       112       318  0.352201        横浜      東地区
2      695       103       312  0.330128        新潟      東地区
15     721        99       308  0.321429        広島      西地区
8      701       104       304  0.342105        琉球      西地区
7      700       101       303  0.333333        大阪      西地区
6      699        98       296  0.331081        京都      西地区
14     720        88       292  0.301370        島根      西地区
4      697        81       287  0.282230        三遠      西地区

## FT

In [19]:
df_ft = df_game_summary.groupby("TeamId").agg({"FTM": ["sum"], "FTA": ["sum"]})
df_ft.columns = [f"{c[0]}_{c[1]}" for c in df_ft.columns]
df_ft["FTP"] = df_ft["FTM_sum"] / df_ft["FTA_sum"]
df_ft = df_ft.merge(df_team.loc[:, ["TeamId", "NameShort", "Division"]], how="inner", on="TeamId")

In [20]:
df_ft.sort_values("FTP", ascending=False)

    TeamId  FTM_sum  FTA_sum       FTP NameShort Division
2      695      211      264  0.799242        新潟      東地区
4      697      176      225  0.782222        三遠      西地区
15     721      225      289  0.778547        広島      西地区
9      702      192      247  0.777328       北海道      東地区
6      699      229      296  0.773649        京都      西地区
17     727      225      291  0.773196        川崎      東地区
12     706      185      241  0.767635       A東京      東地区
18     728      174      228  0.763158        三河      西地区
19     729      227      304  0.746711      名古屋D      西地区
13     716      188      253  0.743083        信州      西地区
16     726      202      273  0.739927      SR渋谷      東地区
11     704      255      347  0.734870        千葉      東地区
3      696      258      363  0.710744        富山      東地区
8      701      203      288  0.704861        琉球      西地区
7      700      144      206  0.699029        大阪      西地区
10     703      189      272  0.694853       宇都宮      東地区
5      698      166      240  0.691667        滋賀      西地区
14     720      182      267  0.681648        島根      西地区
0      693      209      312  0.669872        秋田      東地区
1      694      134      215  0.623256        横浜      東地区

In [21]:
df_ft = df_game_box.groupby("Player").agg({"FTM": ["sum"], "FTA": ["sum"]})
df_ft.columns = [f"{c[0]}_{c[1]}" for c in df_ft.columns]
df_ft["FTP"] = df_ft["FTM_sum"] / df_ft["FTA_sum"]
df_ft = df_ft[df_ft["FTA_sum"] > 20]

In [22]:
df_ft.sort_values("FTP", ascending=False).head(20)

               FTM_sum  FTA_sum       FTP
Player
佐々木隆成               22       22  1.000000
畠山俊樹                20       21  0.952381
トーマス・ケネディ           27       29  0.931034
ギャレット・スタツ           23       25  0.920000
ステヴァン・イェロヴァツ        42       46  0.913043
木田貴明                37       41  0.902439
ジェフ・エアーズ            58       65  0.892308
相馬卓弥                24       27  0.888889
辻直人                 31       35  0.885714
道原紀晃                22       25  0.880000
シェーン・ウィティングトン       29       33  0.878788
納見悠仁                21       24  0.875000
平尾充庸                21       24  0.875000
アレックス・カーク           62       71  0.873239
マーク・トラソリーニ          40       46  0.869565
ライアン・ケリー            53       61  0.868852
マーク・セントフォート         39       45  0.866667
丹野合気                19       22  0.863636
ジェフリー・パーマー          38       44  0.863636
藤井祐眞                37       43  0.860465

In [23]:
df_ft.sort_values("FTP", ascending=False).tail(20)

                  FTM_sum  FTA_sum       FTP
Player
小林遥太                   13       22  0.590909
アブドゥーラ・クウソー            13       22  0.590909
カディーム・コールビー            40       68  0.588235
木村啓太郎                  21       36  0.583333
シェーファーアヴィ幸樹            12       21  0.571429
小野龍猛                   12       21  0.571429
ケビン・コッツァー              26       46  0.565217
ジョシュア・クロフォード           26       46  0.565217
チリジ・ネパウェ               39       69  0.565217
アイラ・ブラウン               27       53  0.509434
ライアン・ロシター              31       61  0.508197
デクアン・ジョーンズ             13       26  0.500000
野本建吾                   13       26  0.500000
マイケル・パーカー              13       26  0.500000
コー・フリッピン               12       24  0.500000
レジナルド・ベクトン             27       55  0.490909
ラキーム・ジャクソン             26       53  0.490566
チュクゥディエベレ・マドゥアバム       28       58  0.482759
ブラッドリー・ウォルドー           12       25  0.480000
ナイジェル・スパイクス            20       46  0.434783

## TO / Possessions

In [24]:
df_game_summary["Posession"] = [
    calc_posession(F2GA + F3GA, TO, FTA, OR)
    for F2GA, F3GA, TO, FTA, OR 
    in zip(df_game_summary["F2GA"], df_game_summary["F3GA"], df_game_summary["TO"], df_game_summary["FTA"], df_game_summary["OR"])
]

In [25]:
df_game_summary["TO_per_Posession"] = 100 * df_game_summary["TO"] / df_game_summary["Posession"]

df_TO = df_game_summary.groupby("TeamId").agg({"TO_per_Posession": ["mean"]})
df_TO.columns = [f"{c[0]}_{c[1]}" for c in df_TO.columns]
df_TO = df_TO.merge(df_team.loc[:, ["TeamId", "NameShort", "Division"]], how="inner", on="TeamId")

In [26]:
df_TO.sort_values("TO_per_Posession_mean", ascending=True)

    TeamId  TO_per_Posession_mean NameShort Division
12     706              13.724524       A東京      東地区
9      702              14.558581       北海道      東地区
6      699              14.874169        京都      西地区
18     728              15.509072        三河      西地区
10     703              15.774837       宇都宮      東地区
17     727              15.857444        川崎      東地区
5      698              15.878544        滋賀      西地区
4      697              16.888618        三遠      西地区
15     721              17.098357        広島      西地区
3      696              17.267151        富山      東地区
11     704              17.328181        千葉      東地区
16     726              17.443544      SR渋谷      東地区
8      701              17.931880        琉球      西地区
0      693              18.251495        秋田      東地区
14     720              19.132350        島根      西地区
19     729              19.491396      名古屋D      西地区
7      700              19.874223        大阪      西地区
2      695              20.155436        新潟      東地区
13     716              20.221973        信州      西地区
1      694              21.907519        横浜      東地区

In [43]:
df_game_box.head().T

                        0           1        2         3      4
ScheduleKey          5938        5938     5938      5938   5938
TeamId                700         700      700       700    700
BoxType             Total       Total    Total     Total  Total
PlayerId            10849       32984    32982     32983  30349
Player               伊藤達哉  エリエット・ドンリー     角野亮伍  駒水大雅ジャック   中村浩陸
Number                  2           3        8        10     13
Position               PG          SF       SF        SF     PG
StarterBench      Starter       Bench  Starter     Bench  Bench
MIN                  21.9        1.93    31.65       1.4      0
MIN.STR             21:54       01:56    31:39     01:24  00:00
PTS                    10           0        2         0      0
FGM                     5           0        1         0      0
FGA                     9           0        6         0      0
F3GM                    0           0        0         0      0
F3GA                    0           0        4         0      0
FTM                     0           0        0         0      0
FTA                     0           0        0         0      0
OR                      0           0        0         0      0
DR                      0           0        2         0      0
TR                      0           0        2         0      0
AS                      8           0        0         0      0
TO                      1           0        2         1      0
ST                      2           0        1         0      0
BS                      0           0        0         0      0
BSR                     0           0        0         0      0
F                       0           0        2         0      0
FD                      1           0        0         0      0
DUNK                    0           0        0         0      0
EFF                    16           0       -4        -1      0
TO_per_Posession  10.4167         NaN  17.3611   104.167    NaN

In [63]:
df_TO = df_game_box.groupby("Player").agg({"TO": ["mean", "sum"], "MIN": ["mean", "sum"]})
df_TO.columns = [f"{c[0]}_{c[1]}" for c in df_TO.columns]
df_TO = df_TO.merge(df_game_box.loc[:, ["Player", "Position"]].drop_duplicates(), how="left", on="Player")
df_TO = df_TO[df_TO["MIN_mean"] > 16]

In [64]:
df_TO.sort_values("TO_mean", ascending=False).head(20)

               Player   TO_mean  TO_sum   MIN_mean  MIN_sum Position
98        テレンス・ウッドベリー  6.000000      12  27.350000    54.70    SF/PF
71         ジュリアン・マブンガ  4.066667      61  33.959333   509.39       PF
419              西山達哉  3.666667      55  28.680000   430.20       PG
72       ジョシュア・クロフォード  3.444444      31  34.283333   308.55        C
85         スティーブン・ハート  3.363636      37  35.567273   391.24     C/PF
188              伊藤達哉  3.200000      48  25.235333   378.53       PG
11       アンソニー・マクヘンリー  3.090909      34  34.692727   381.62     C/PF
150          リース・ヴァーグ  3.000000      15  33.572000   167.86       PF
378              石川海斗  2.923077      38  32.724615   425.42       PG
118         パトリック・アウダ  2.888889      26  25.906667   233.16       PF
479              齋藤拓実  2.800000      42  24.168000   362.52       PG
396              納見悠仁  2.800000      42  24.454667   366.82    PG/SG
12   アンドリュー・フィッツジェラルド  2.800000      28  26.696000   266.96     C/PF
237              宇都直輝  2.733333      41  27.302000   409.53       PG
3            アイラ・ブラウン  2.600000      39  33.142000   497.13    SF/PF
105         デモン・ブルックス  2.600000      39  29.710667   445.66       PF
201              兒玉貴通  2.545455      28  29.494545   324.44       PG
156        レジナルド・ベクトン  2.533333      38  24.502667   367.54       PF
92         ダバンテ・ガードナー  2.466667      37  31.784000   476.76       PF
81        ジョーダン・ハミルトン  2.454545      27  33.150909   364.66    SF/PF

In [65]:
df_TO.sort_values("TO_mean", ascending=False).tail(20)

         Player   TO_mean  TO_sum   MIN_mean  MIN_sum Position
259        小野龍猛  0.615385       8  16.110769   209.44       SF
329        橋本竜馬  0.600000       9  20.798667   311.98       PG
386        秋山皓太  0.600000       9  17.851333   267.77    SG/SF
77   ジョシュ・ペッパーズ  0.600000       3  16.248000    81.24    SF/PF
413        葛原大智  0.600000       9  17.525333   262.88    SG/SF
332        比江島慎  0.600000       9  18.193333   272.90       SG
466         飯田遼  0.545455       6  18.662727   205.29    SG/SF
462       須田侑太郎  0.533333       8  20.300667   304.51    SG/SF
333        水戸健史  0.533333       8  16.145333   242.18       SG
204         前田悟  0.533333       8  29.412000   441.18       SF
261        山下泰弘  0.533333       8  22.145333   332.18       PG
397        細川一輝  0.466667       7  17.930667   268.96       SG
354        狩野祐介  0.466667       7  21.472667   322.09       SG
412        落合知也  0.454545       5  17.336364   190.70    SF/PF
274        岡田慎吾  0.400000       6  23.850667   357.76       SG
334        永吉佑也  0.400000       6  22.645333   339.68     C/PF
249        小松秀平  0.307692       4  18.397692   239.17       SG
43    ケビン・ジョーンズ  0.285714       2  23.488571   164.42       PF
350        片岡大晴  0.272727       3  16.638182   183.02       SG
159       三ツ井利也  0.000000       0  21.542222   193.88       SF

In [66]:
df_TO_PG = df_TO[df_TO["Position"].isin(["PG", "PG/SG"])]

In [69]:
df_TO_PG.sort_values("TO_mean", ascending=False).head(20)

           Player   TO_mean  TO_sum   MIN_mean  MIN_sum Position
419          西山達哉  3.666667      55  28.680000   430.20       PG
188          伊藤達哉  3.200000      48  25.235333   378.53       PG
378          石川海斗  2.923077      38  32.724615   425.42       PG
479          齋藤拓実  2.800000      42  24.168000   362.52       PG
396          納見悠仁  2.800000      42  24.454667   366.82    PG/SG
237          宇都直輝  2.733333      41  27.302000   409.53       PG
201          兒玉貴通  2.545455      28  29.494545   324.44       PG
80     ジョーダン・テイラー  2.333333      28  19.545000   234.54       PG
322           楯昌宗  2.300000      23  19.193000   191.93       PG
116  ネナド・ミリェノヴィッチ  2.250000       9  21.392500    85.57       PG
139      マーベル・ハリス  2.200000      11  24.844000   124.22       PG
190          伊集貴也  2.181818      24  21.979091   241.77       PG
228          大塚勇人  2.083333      25  22.780833   273.37       PG
126       ベンドラメ礼生  2.066667      31  22.467333   337.01       PG
242          富樫勇樹  2.000000      26  24.020000   312.26       PG
423          西裕太郎  2.000000      22  16.886364   185.75       PG
154    レイヴォンテ・ライス  2.000000      22  30.519091   335.71       PG
392          笹倉怜寿  1.923077      25  23.416154   304.41       PG
400          綱井勇介  1.909091      21  20.098182   221.08    PG/SG
100  ディージェイ・ニュービル  1.909091      21  30.229091   332.52    PG/SG

In [70]:
df_TO_PG.sort_values("TO_mean", ascending=False).tail(20)

    Player   TO_mean  TO_sum   MIN_mean  MIN_sum Position
176  久岡幸太郎  1.181818      13  18.055455   198.61       PG
294  木村啓太郎  1.166667      14  18.247500   218.97       PG
454   長谷川暢  1.153846      15  19.986923   259.83       PG
239   安藤誓哉  1.133333      17  23.802000   357.03       PG
353   狩俣昌也  1.133333      17  24.406000   366.09       PG
275   岸本隆一  1.133333      17  21.414667   321.22    PG/SG
381   神原裕司  1.090909      12  23.674545   260.42    PG/SG
192  佐々木隆成  1.076923      14  24.024615   312.32    PG/SG
434   遠藤祐亮  1.066667      16  22.453333   336.80    PG/SG
301   村上駿斗  1.000000      15  21.656000   324.84    PG/SG
189    伊藤駿  1.000000      13  16.202308   210.63       PG
475    鵤誠司  1.000000      15  21.819333   327.29       PG
433   道原紀晃  1.000000      11  21.087273   231.96    PG/SG
383   福澤晃平  0.777778       7  19.178889   172.61    PG/SG
456   長野誠史  0.733333      11  17.261333   258.92       PG
280   平尾充庸  0.727273       8  26.371818   290.09       PG
340   渡邉裕規  0.666667      10  17.986000   269.79       PG
391   笠井康平  0.636364       7  20.356364   223.92       PG
329   橋本竜馬  0.600000       9  20.798667   311.98       PG
261   山下泰弘  0.533333       8  22.145333   332.18       PG

## Offence Efficiency

In [27]:
df_game_summary["PTS_per_Posession"] = 100 * df_game_summary["PTS"] / df_game_summary["Posession"]

In [28]:
df_OE = df_game_summary.groupby("TeamId").agg({"PTS_per_Posession": ["mean"]})
df_OE.columns = [f"{c[0]}_{c[1]}" for c in df_OE.columns]
df_OE = df_OE.merge(df_team.loc[:, ["TeamId", "NameShort", "Division"]], how="inner", on="TeamId")

In [29]:
df_OE.sort_values("PTS_per_Posession_mean", ascending=False)

    TeamId  PTS_per_Posession_mean NameShort Division
11     704              129.200988        千葉      東地区
3      696              121.441819        富山      東地区
18     728              121.126116        三河      西地区
10     703              120.112997       宇都宮      東地区
12     706              117.789918       A東京      東地区
17     727              116.591838        川崎      東地区
9      702              114.495321       北海道      東地区
16     726              114.310069      SR渋谷      東地区
19     729              113.870096      名古屋D      西地区
8      701              113.865789        琉球      西地区
5      698              113.415944        滋賀      西地区
14     720              111.946689        島根      西地区
6      699              111.678767        京都      西地区
7      700              108.987587        大阪      西地区
15     721              108.417282        広島      西地区
2      695              107.681763        新潟      東地区
1      694              103.800109        横浜      東地区
0      693              103.799847        秋田      東地区
13     716              103.622443        信州      西地区
4      697              100.783551        三遠      西地区

## Defence Efficiency

In [30]:
pts_opponent = {
    k: df_group["PTS"].values.tolist()
    for k, df_group 
    in df_game_summary.loc[:, ["ScheduleKey", "TeamId", "PTS"]].groupby("ScheduleKey")
}
df_game_summary["PTS_opponent"] = df_game_summary["ScheduleKey"].apply(lambda x: pts_opponent.get(x))
df_game_summary["PTS_opponent"] = [
    pts_list[0] if i % 2 else pts_list[1]
    for i, pts_list
    in enumerate(df_game_summary["PTS_opponent"])
]

df_game_summary["PTS_opponent_per_Posession"] = 100 * df_game_summary["PTS_opponent"] / df_game_summary["Posession"]

In [31]:
df_DE = df_game_summary.groupby("TeamId").agg({"PTS_opponent_per_Posession": ["mean"]})
df_DE.columns = [f"{c[0]}_{c[1]}" for c in df_DE.columns]
df_DE = df_DE.merge(df_team.loc[:, ["TeamId", "NameShort", "Division"]], how="inner", on="TeamId")

In [32]:
df_DE.sort_values("PTS_opponent_per_Posession_mean", ascending=True)

    TeamId  PTS_opponent_per_Posession_mean NameShort Division
10     703                        98.826270       宇都宮      東地区
0      693                       104.755273        秋田      東地区
8      701                       105.767344        琉球      西地区
11     704                       106.203095        千葉      東地区
17     727                       106.500459        川崎      東地区
12     706                       107.513825       A東京      東地区
3      696                       107.980424        富山      東地区
19     729                       108.629577      名古屋D      西地区
7      700                       111.683792        大阪      西地区
13     716                       112.600560        信州      西地区
14     720                       113.159951        島根      西地区
1      694                       113.985807        横浜      東地区
16     726                       115.659742      SR渋谷      東地区
18     728                       116.085455        三河      西地区
5      698                       117.261653        滋賀      西地区
15     721                       118.630124        広島      西地区
2      695                       120.898885        新潟      東地区
4      697                       121.226168        三遠      西地区
6      699                       124.358348        京都      西地区
9      702                       124.885597       北海道      東地区